.aKiwi-header {
    border: 1px transparent !important
}

h4.aKiwi-title {
    background-color: transparent !important
}

div#aKiwi-content a {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: var(--accentcol01) !important;
    border: 1px solid var(--buttonborder) !important;
    border-radius: 6px !important;
    -webkit-box-shadow: var(--shadow2) 0 1px 0 !important;
    box-shadow: var(--shadow2) 0 1px 0 !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    color: var(--lightwhiteWhitetheme) !important;
    color: var(--lightwhite) !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: inherit !important;
    line-height: 15px !important;
    text-align: center !important;
    text-decoration: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    white-space: nowrap !important;
    -webkit-transition: background-color .5s ease-in-out !important;
    -o-transition: background-color .5s ease-in-out !important;
    transition: background-color .5s ease-in-out !important
}

div#aKiwi-content a img {
    filter: invert(122%) sepia(3%) saturate(0%) hue-rotate(120deg) brightness(170%) contrast(100%)
}